# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# Logs
*.log

# Env files
.env
.env.local
frontend/.env
frontend/.env.local
backend/.env
backend/.env.local

# Build output
dist/
frontend/dist/
backend/dist/

# OS/system files
.DS_Store
Thumbs.db  
